<p>
  <strong><%= customer.name %></strong>
</p>

<p>
  <strong><%= customer.phone %></strong>
</p>

<p>
  <strong><%= customer.email %></strong>
</p>

<p>
  <strong><%= customer.notes %></strong>
</p>